<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="jyp.spring.core"></context:component-scan>

    <!--<bean id="vehicle" class="jyp.spring.core.Car">

    </bean>

    <bean id="tyre" class="jyp.spring.core.Tyre">
        &lt;!&ndash;<property name="brand" value="MRF"></property>&ndash;&gt;
        <constructor-arg value="MRF"></constructor-arg>
    </bean>-->

    <bean id="realConnectionMaker" class="springbook.user.dao.DConnectionMaker" />

    <bean id="countingConnectionMaker" class="springbook.user.dao.CountingConnectionMaker">
        <property name="realConnectionMaker" ref="realConnectionMaker" />
    </bean>

    <bean id="userDao" class="springbook.user.dao.UserDao">
        <property name="connectionMaker" ref="countingConnectionMaker"/>
    </bean>

</beans>