<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <!--
        Just included for the count: not to mean anything in particular
    -->
    <bean id="user" class="springbook.user.domain.User">
        <!--<property name="id"><value>jyp1</value></property>
        <property name="age">
            <ref bean="age"/>
        </property>-->
        <constructor-arg index="4">
            <description>wife</description>
            <ref bean="age"/>
        </constructor-arg>
    </bean>

    <bean id="age" class="springbook.user.domain.Age">

    </bean>

</beans>
