<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="currentMember" class="net.slipp.week6.beans.CurrentMember">
        <qualifier value="leader"/>
        <constructor-arg value="이경원"/>
    </bean>
    <bean id="newMember" class="net.slipp.week6.beans.NewMember" scope="prototype">
        <qualifier value="prototype"/>
        <constructor-arg value="이시훈"/>
    </bean>

    <bean id="memberByRequest" class="net.slipp.week6.beans.NewMember" scope="request">
        <qualifier value="request"/>
        <constructor-arg value="조현우"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <bean id="memberBySession" class="net.slipp.week6.beans.NewMember" scope="session">
        <qualifier value="session"/>
        <constructor-arg value="박진영"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <bean id="aloneMember" class="net.slipp.week6.beans.Outlier" scope="request">
        <qualifier value="outlier"/>
        <constructor-arg value="홍길동"/>
        <aop:scoped-proxy proxy-target-class="true"/> <!-- 구상 클래스는 CGLib로 프록시 함-->
    </bean>

    <bean id="memberMap" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.Object">
                <entry key="singleton" value-ref="currentMember"/>
                <entry key="prototype" value-ref="newMember"/>
                <entry key="request" value-ref="memberByRequest"/>
                <entry key="session" value-ref="memberBySession"/>
                <entry key="outlier" value-ref="aloneMember"/>
            </map>
        </constructor-arg>
    </bean>

</beans>