<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="postprocessor.BeanPostProcessorImpl" />

    <bean id="dependentBean" class="bean.DependentBean" scope="singleton">
        <property name="secret" value="I'm Dependent Bean" />
        <property name="independentBean" ref="independentBean" />
    </bean>

    <bean id="independentBean" class="bean.IndependentBean" scope="singleton">
        <property name="secret" value="I'm Independent Bean" />
    </bean>
</beans>